/* GENERAL */

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

/* utilities */

.red
{
    color: red;
}

.gray
{
    color: #918C8F;
}

.bold
{
    font-weight: bold;
}

.w100
{
    width: 100%;
}

.w90
{
    width: 90%;
}

.w50
{
    width: 50%;
}

.sizehmf
{
    padding: 0 22%;
}

.bg-red
{
    background-color: red;
}

/* HEADER */

/* nav mini */

.divbeforeall
{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbeforeall
{
    display: flex;

}

.navbeforeall li a
{
    padding: 0 8px;
    font-size: 14px;
    border-right: 1px solid #918C8F;
    color: #918C8F;
}

.navbeforeall li:last-child a
{
    padding-right: 12px;
    border-right: none;
}

/* Login Sign Insert */

.Log
{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-top: 1px solid #918C8F;
    border-bottom: 1px solid #918C8F;
    margin-bottom: 42px;
    align-items: center;
}

.Logh div
{
    width: calc(100% / 2);
}

.Log ul
{
    display: flex;
}

.Log li a
{
    padding: 0 8px;
}

.Log .annuncio
{
    background-color: #DFE3ED;
    padding: 8px 12px;
}

.divlogo img
{
    width: 50%;
}

/* form */

form
{
    display: flex;
    padding: 24px 18px;
    align-items: end;
    box-shadow: 0 10px 24px 0 rgb(0 0 0 / 10%);
}

.divform
{
    width:calc(100% / 3);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.divform input , .divform select
{
    border: none;
    font-size: 16px;
    color: gray;
}

.contain
{
    padding: 12px 16px;
    border: 1px solid #DFE3ED;
    width: 90%;
    vertical-align: middle;
}

.divlens
{
    color: #fff;
    background-color: red;
    padding: 14px;
    border-radius: 5px;
    vertical-align: midlle;
}

.lens
{
    font-size: 16px;
}

/* MAIN */

main .start
{
    margin-top: 36px;
}

main h2
{
    padding-top: 16px;
    text-align: center;
}

/* Section Sections */

.Section-Sections
{
    display: flex;
    justify-content: space-around;
    padding-bottom:16px;
}

.card
{
    height: 170px;
    width: calc(92% / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    gap: 2em;
    border-radius: 10px;
    margin: 36px 0;
}

.card button
{
    padding: 4px 8px;
    border: #fff 1px solid;
    border-radius: 5px;
}

.card button a
{
    color: #fff;
}

.motori 
{
    background-color:#2650FF;
}

.market
{
    background-color:#F2A700;
}

.immobili
{
    background-color: #9924FF;
}

.lavoro
{
    background-color:#07BB9C;
}

/* Paysafe Seciton */

.Paysafe
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 36px;
}

.Paysafe h2
{
    text-align: start;
}

.Paysafe div:first-child p
{
    margin: 4px 0;
}

.Paysafe div
{
    width: calc(96% / 3);
}

.Paysafe img
{
    width: 100%;
}

.Paysafe div
{
    position: relative;
}

.Paysafe button
{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50% , 0);
    width: 80%;
    padding: 16px 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
}

/* Section Banner */

.Banner
{
    display: flex;
    border: 1px solid #DFE3ED;
    margin-top: 8px;
    margin-bottom: 36px;
}

.Banner h2
{
    text-align: start;
}

.Banner div
{
    width: 30%;
}

.Banner div:nth-child(2)
{
    width: 40%;
}

.Banner img
{
    width: 100%;
}

.Banner button
{
    background-color: #FEECEB;
    padding: 8px 16px;
    border: none;
    margin-top: 25%;
}

.Banner button a
{
    color: red;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
}

/* Section Earthday */

.earthday
{
    display: flex;
}

.earthday div:first-child
{
    width: 55%;
}

.earthday div:first-child img
{
    width: 100%;
}

.earthday div:last-child
{
    width: 45%;
}

.earthday div:last-child
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
    justify-content: center;
}

.earthday div:last-child h5,
.earthday div:last-child h2,
.earthday div:last-child p
{
    width: 100%;
    text-align: start;
}